<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Lista de mensagens</title>
</head>
<body>
	<div>
		<a href="">listar</a>
		<a href="/insert">inserir</a>
	</div>
	<br/>

	<h3>Lista de mensagens:</h3>
	<br/>
	<table>
		<thead>
			<tr>
				<th>To</th>
				<th>Message</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="msg : ${list}">
				<td><span th:text="${msg.to}"></span></td>
				<td><span th:text="${msg.msg}"></span></td>
				<td>
					<a th:href="${'/'+ msg.id +'/delete'}">Excluir</a>
					<a th:href="${'/'+ msg.id +'/edit'}">Editar</a>
				</td>
			</tr>
		</tbody>
		
    </table>
</body>
</html>